.docs-selectors__results {
	list-style-type: none;
	margin: 0;
}

.docs-selectors__result {
	color: darken( $gray, 10% );
}

.docs-selectors__result-name {
	@extend %content-font;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.8;

	&,
	& a {
		color: $gray-dark;
	}
}

.docs-selectors__result p {
	font-size: 13px;
	line-height: 1.4;
	margin: 0 0 2px;
}

.docs-selectors__result-label {
	background: $gray-light;
	border: 1px solid lighten( $gray, 10% );
	text-transform: uppercase;
	text-align: left;
	font-size: 10px;
	font-weight: 600;
	line-height: 1.8;
	color: $gray-dark;
	padding: 2px 8px;
	position: absolute;
		top: -12px;
}

.docs-selectors__result-arguments {
	margin: 16px 0;
	font-size: 14px;
	color: darken( $gray, 30% );
	display: none;

	tbody tr:first-child {
		td, th {
			padding-top: 8px;
			border-top: 1px solid lighten( $gray, 20% );
		}
	}

	tbody tr:last-child {
		td, th {
			padding-bottom: 8px;
			border-bottom: 1px solid lighten( $gray, 20% );
		}
	}

	tbody th {
		width: 25%;
		text-align: right;
		font-weight: 400;
	}

	tbody th strong {
		font-weight: 600;
	}

	tbody {
		th,
		td {
			padding: 4px 8px;
			line-height: 1.4;
		}
	}

	td {
		width: 75%;
	}

	.docs-selectors__result.is-expanded & {
		display: block;
		background: $gray-light;
		border: 1px solid lighten( $gray, 10% );
		padding: 24px;
		margin: 0;
		width: 60%;
	}
}

.docs-selectors__result-list {
	display: flex;
	margin: 28px -25px -17px;
	position: relative;
}

.docs-selectors__result-arguments-content {
	display: flex;
	font-family: $monospace;
	font-size: 16px;
	margin: 0;

	+ .docs-selectors__result-arguments-content {
		margin-top: 16px;
	}
}

.docs-selectors__result-return {
	background: $gray-light;
	border-style: solid;
	border-color: lighten( $gray, 10% );
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	padding: 24px;
	flex-grow: 1;
}

.docs-selectors__param-type {
	color: $gray-dark;

	&,
	& code {
		font-size: 16px;
		font-family: $monospace;
	}

	span {
		padding-left: 4px;
	}
}

.docs-selectors__result-arguments-name {
	text-align: right;
	padding-right: 24px;
	width: 30%;
}

.docs-selectors__result-return {
	display: none;

	.docs-selectors__result.is-expanded & {
		display: block;
	}
}
